bcrypt
eventlet
flask
flask-socketio
flask-sqlalchemy
kafka-python
marshmallow
python-dotenv
pyjwt
passlib[bcrypt]
psycopg2-binary
requests
sqlalchemy
python-dotenv
setuptools
python-socketio[client]==5.15.1
requests==2.32.5
python-dotenv==1.2.1